<nav >
    
        <mat-toolbar color="primary" >
        <mat-toolbar-row>
            <div class="container">
                <a class="header-title" mat-button routerLink="/">
                    <i class="fas fa-book header-book-icon"></i>
                    Kitap App</a>
                <a mat-button class="float-right  header-link" routerLink="/admin">
                    <i class="fas fa-users-cog header-admin-icon"></i>
                    Yönetim paneli</a>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
   
  </nav>
