.card-book {
  width: 250px;
  margin: 0px 10px 10px 10px;
  float: left;
  height: 600px;
}
.card-book:hover {
  box-shadow: 5px 10px 10px #888;
}
.card-book img {
  width: 230px;
  height: 350px;
}
