<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>{{title}}</h2>
        <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="form">
            <mat-form-field style="width: 100%;">
                <input   matInput formControlName="name" placeholder="Kategori adı giriniz..." />
                <mat-error *ngIf="this.form.controls.name.invalid && isSubmitting">Kategori adı zorunludur</mat-error>
            </mat-form-field>
               <button style="width: 100%;" class="mt-2 mb-2" type="submit" mat-raised-button color="primary">{{btnText}}</button> 
        </form>
    </div>
</div>
